AI Agents and Workflows for Developers/n8n/Exercises/Fetch recent positive news.json
{
  "name": "Fetch recent positive news",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "2eeeb400-0870-4a48-8bfa-de2ddec3a05b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "https://www.positive.news/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "8add4c46-1d32-4bfe-8fa1-8ae0cb39b19f",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "419e5b28-fb3e-4638-9581-ab97cdee6be0",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "80e0fff1-e420-4bd7-a99a-7bea5305a857",
              "name": "summary",
              "value": "={{ $json.contentSnippet }}",
              "type": "string"
            },
            {
              "id": "53fbe72e-d3a3-4ec0-bed7-5776991f0a52",
              "name": "tags",
              "value": "={{ $json.categories.join(';') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "0bc4010d-574e-4b44-a79e-d5398278f1cd",
      "name": "Prepare output"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Prepare output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2af33616-dba5-483f-b8e7-a9e875f2d9a2",
  "meta": {
    "instanceId": "e71db63c8b5e76429d6ca1dfca4e9b5568cac5412456dd7147b51f10608f919d"
  },
  "id": "wTc3g3OdodLthWtN",
  "tags": []
}