AI Agents and Workflows for Developers/n8n/Exercises/Personal Assistant AI Agent.json
{
  "name": "Personal Assistant AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "personal-assistant",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        -48
      ],
      "id": "dc39385d-8ac3-4468-a443-1edf0fc33c7b",
      "name": "Webhook",
      "webhookId": "9d81670d-8cfe-4ac3-bdd3-efd305a4cd7f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -80,
        -48
      ],
      "id": "24a8655b-d10e-42f6-b6d8-3e2e031e06a9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "builtInTools": {},
        "options": {
          "reasoningEffort": "low"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -256,
        176
      ],
      "id": "453dd754-5822-4d25-a611-10a51c043c1c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6gFryQIk4WEzoR29",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "tony13troev@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -128,
        176
      ],
      "id": "56a5555f-56bf-48ec-84cf-10e3bfa2f128",
      "name": "send_message",
      "webhookId": "031bd81d-aabe-490d-b2b8-2f7c373d150d",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZWv7Q8TZ18pGCDaf",
          "name": "Gmail Account (tony13troev@gmail.com)"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool when you need to fetch information about the current weather status for a given city.",
        "workflowId": {
          "__rl": true,
          "value": "8K1LOwVcvsC0Lu5T",
          "mode": "list",
          "cachedResultUrl": "/workflow/8K1LOwVcvsC0Lu5T",
          "cachedResultName": "Get average temperature"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "city": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('city', ``, 'string') }}",
            "country": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('country', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        0,
        176
      ],
      "id": "220a1400-f4d7-4990-affc-c6be55994edb",
      "name": "get_current_weather"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "tony13troev@gmail.com",
          "mode": "list",
          "cachedResultName": "tony13troev@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        128,
        176
      ],
      "id": "521946b2-4921-4552-96b3-28054a205b91",
      "name": "create_event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "hAymvwtR0Dw5nuSL",
          "name": "Google Calendar Account (tony13troev@gmail.com)"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://localhost:5678/mcp/news",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        256,
        176
      ],
      "id": "64e3a859-78ae-4531-8eb3-3d773404b684",
      "name": "MCP Client"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "send_message": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_current_weather": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create_event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e43da872-315c-4c58-9096-6090eaec21f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e71db63c8b5e76429d6ca1dfca4e9b5568cac5412456dd7147b51f10608f919d"
  },
  "id": "V6dYhNHXwKghzcnD",
  "tags": []
}